<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.miniproyecto">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MiniProyecto"
        tools:targetApi="31">
        <activity
            android:name=".IndexMusica"
            android:exported="false" />
        <activity
            android:name=".AdapterMusica"
            android:exported="false" />
        <activity
            android:name=".IndexMuseo"
            android:exported="false" />
        <activity
            android:name=".AdapterMuseo"
            android:exported="false" />
        <activity
            android:name=".AdapterDeportes"
            android:exported="false" />
        <activity
            android:name=".IndexTeatro"
            android:exported="false" />
        <activity
            android:name=".AdapterTeatro"
            android:exported="false" />
        <activity
            android:name=".IndexCategorias"
            android:exported="false" />
        <activity
            android:name=".AdapterCategorias"
            android:exported="false" />
        <activity
            android:name=".LiberiIndex"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>